.agencies {
    margin-top: 7.2rem;
    flex-direction: column;

    &__cards-container {
        margin-top: 3.2rem;
        display: flex;
        gap: 70px;
        justify-content: center;
        width: 100%;
    }

    &__card {
        background-color: $color-grey-10;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.10);
        border-radius: 5px;

        > img {
            height: 305px;
            object-fit: cover;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
        }

        &-infos {
            padding: 2.4rem;
            display: flex;
            justify-content: space-between;

            h3 {
                color: $color-grey-01;
                font-family: $font-primary;
                font-size: 3.2rem;
                font-weight: 600;
            }

            p {
                color: $color-grey-03;
                text-align: right;
                font-size: 2.4rem;
                line-height: 36px; /* 150% */
            }
        }

        &-link {
            display: flex;
            align-items: center;
            gap: 8px;
            margin-top: 3rem;

            a {
                color: $color-secondary-02;
                font-size: 2rem;
                text-decoration: none;
                position: relative;

                &:hover {
                    color: $color-secondary-05;
                }

                &:hover:after {
                    background-color: $color-secondary-05;
                }

                &::after {
                    content: '';
                    display: block;
                    height: 1px;
                    width: 100%;
                    background-color: $color-secondary-02;
                    margin-top: 4px;
                }
            }
        }

        @media screen and (max-width: 1025px) {
            > img {
                height: 250px;
                object-fit: cover;
                max-width: 100%;
            }

            &-infos {
                h3 {
                    font-size: 1.8rem;
                }

                p {
                    font-size: 1.4rem;
                    line-height: 24px;
                }

                img {
                    height: 10px;
                    object-fit: cover;
                }
            }

            &-link {
                a {
                    font-size: 1.2rem;
                }
            }

        }
    }

    @media screen and (max-width: 426px) {
        margin-top: 4.8rem;
        &__card {
            > img {
                width: 100%;
                height: 138px;
            }

            &-infos {
                padding: 1.2rem .8rem;
            }
        }

        &__cards-container {
            flex-direction: column;
            gap: 24px;
        }
    }
}