@import 'variaveis';

#como-achar {
    background: $font-color-primary;
}

.contato {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;

    &__item {
        margin: 1rem;
        text-align: center;
        padding: 0 40px;
        span {
            color: $color-secondary;
        }
    }

    &__link {
        text-decoration: none;
    }

    &__img {
        width: 70px;
        height: auto;
    }

}