.contact {
    flex-direction: column;
    align-items: center;
    margin-top: 12.2rem;
    position: relative;

    &::before {
        content: '';
        background-color:#FFF8F4;;
        height: 228px;
        width: 30vw;
        position: absolute;
        bottom: 30px;
        right: 0;
        z-index: -1;
    }


    &__form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 4rem;
        gap: 80px;

        img {
            width: 616px;
            height: 100%;
            object-fit: cover;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
            border-radius: 15px;
        }

        &__inputs-group__container {
            display: flex;
            gap: 8px;
            margin-bottom: .8rem;
        }

       &__input-group {
            display: flex;
            flex-direction: column;
            min-height: 92px;
            position: relative;

            .text-muted {
                display: none;
                visibility: hidden;
            }

            i img {
                width: 20px;
                height: 20px;
                position: absolute;
                top: 38px;
                left: 220px;
                visibility: hidden;
            }
        }

        &__input-group:has(textarea){
            height: 200px;
            i img {
                left: 480px;
            }
        }

        .error i .img-error {
            visibility: visible;
        }

        .error input, .error textarea {
            border: 1px solid $color-error;
        }

        .error input:focus, .error textarea:focus{
            outline: 1px solid $color-error;
        }
        
        .success i .img-success {
            visibility: visible;
        }

        .success input, .success textarea {
            border: 1px solid $color-success;
        }
        .success input:focus, .success textarea:focus{
            outline: 1px solid $color-success;
        }

        form label {
            color: $color-grey-03;
            font-size: 1.8rem;
            margin-bottom: .8rem;
        }

        input, textarea {
            border-radius: 5px;
            border: 1px solid $color-grey-05;
            background: transparent;
            width: 250px;
            padding: 10px 12px; 
            font-family: $font-secondary;
        }

        textarea {
            width: 100%;
            height: 125px;
            resize: none;
        }

        input:focus, textarea:focus {
            border: none;
            outline: 1px solid $color-secondary-01;
        }

        input:-webkit-autofill {
            -webkit-box-shadow: 0 0 0 30px $color-grey-10 inset;
        }

        small {
            color: $color-error;
            font-family: $font-secondary;
            font-size: 1.4rem;
            line-height: 24px; /* 171.429% */
        }

        button {
            &:disabled {
                background: linear-gradient(180deg, #ff975b 0%, #ff7e38 100%);
            }
        }
    }

    @media screen and (max-width: 1025px) {
        &::before {
            height: 50vh;
        }

        &__form {
            gap: 40px;
            img {
                width: 500px;
            }

            textarea {
                width: 400px;
            }

            &__inputs-group__container {
                flex-direction: column;
    
                input {
                    width: 400px;
                }
            }
            &__input-group {
                i img {
                    left: 370px;
                }
            }
            &__input-group:has(textarea){
                i img {
                    left: 370px;
                }
            }
        } 
    }

    @media only screen and (max-width: 426px) {
        margin-top: 8.8rem;
        display: flex;
        align-items: center;
        justify-content: center;

        &::before {
            display: none;
        }
        &__form {
            margin-top: 3.2rem;
            display: block;

            > img {
                display: none;
                opacity: 0;
            }

            textarea {
                width: 285px;
                height: 160px;
            }

            &__inputs-group__container {
                input {
                    width: 285px;
                }
            }

            &__input-group i img {
                left: 255px;
            }

            &__input-group:has(textarea){
                height: 220px;
                i img {
                    left: 255px;
                }
            }

            button {
                margin-top: 1.5rem;
            }
        }
    }
} 