.header {
    background-color: $color-primary-01;
    &__info {
        background-color: $color-primary-02;
        color: $color-primary-06;
        font-size: 1.2rem;
        padding-top: 1.4rem;
        padding-bottom: 1.4rem;
    }

    &__nav {
        background-color: $color-primary-01;
        padding-top: 1.7rem;
        padding-bottom: 1.7rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        &__menu {
            display: flex;
            gap: 3.6rem;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;

            li {
                list-style: none;
            }

            &-link {
                padding: 16px 0;
                display: inline-block;
                text-decoration: none;
                color: $color-grey-10;
                font-size: 1.6rem;

                &:hover, &:focus  {
                    color: $color-secondary-05;
                }

                &:hover::after, &:focus::after {
                    width: 100%;
                }

                &::after {
                    content: '';
                    display: block;
                    height: 2px;
                    width: 0;
                    background-color: $color-secondary-05;
                    margin-top: 4px;
                    transition: 0.3s;
                }
            }
        }
    }

    .menu-desktop {
        display: flex;
        justify-content: end;
    }

    .menu-mobile, .menu-mobile-button {
        opacity: 0;
        display: block;
        overflow: hidden;
     }

     .menu-mobile {
        transition: .5s;
        position: absolute;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: flex-end;
        background-color: $color-primary-01;
     }
    

    &__hero {
        background-color: $color-primary-01;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 560px;

        p {
            color: $color-grey-10;
            margin-top: 48px;
            font-size: 1.6rem;
        }

        button {
            margin: 40px 0;
        }
    }

    @media screen and (max-width: 1025px) {
        &__hero {
            height: 412px;
            img {
                width: 740px;
            }
        }
    }

    @media screen and (max-width: 426px) {
        &__info {
            font-size: 1rem;
        }

        &__nav {
            align-items: center;
            justify-content: space-between;
            display: flex;
            
            a img {
                width: 50px;
                object-fit: cover;
            }

            &__menu-link::after {
                    display: none;
               }
        }

        &__hero {
            height: 100%;
            padding-bottom: 3.2rem;
            img {
                width: 100%;
            }

            p {
                font-size: 1.2rem;
                margin: 0;
            }

            button {
                margin: 0;
                margin-top: 2.4rem;
            }
        }

        .menu-desktop {
            display: none;
        }

        .menu-mobile-button {
            display: flex;
            opacity: 1;
            justify-content: center;
            align-items: center;
            width: 48px;
            height: 48px;
            background-color: transparent;
            border: none;
        }

        .menu-mobile.active {
            opacity: 1;
         }

        &__nav__menu {
            display: block;
            background-color: $color-primary-01;
            width: 100%;
            text-align: center;
            
           a {
                font-size: 1.5rem;
                border-bottom: 2px solid $color-primary-02;
                padding: .9rem 0;
                width: 200px;
           }
        }
    }
}