.header {
    &__info {
        background-color: $color-primary-02;
        color: $color-primary-06;
        font-size: 1.2rem;
        padding-top: 1.4rem;
        padding-bottom: 1.4rem;
    }

    &__nav {
        background-color: $color-primary-01;
        padding-top: 1.7rem;
        padding-bottom: 1.7rem;

        &-menu {
            display: flex;
            gap: 3.6rem;
            align-items: center;
            justify-content: center;

            li {
                list-style: none;
                cursor: pointer;
            }

            a {
                text-decoration: none;
                color: $color-grey-10;
                font-size: 1.6rem;
            }
        }
    }

    &__hero {
        background-color: $color-primary-01;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 560px;

        p {
            color: $color-grey-10;
            margin-top: 48px;
            font-size: 1.6rem;
        }

        button {
            padding: 1.2rem 2.4rem;
            margin: 40px;
            border-radius: 5px;
            background: linear-gradient(180deg, #D0530D 0%, #EE702A 100%);

            color: $color-secondary-01;
            text-align: center;
            font-family: $font-primary;
            font-size: 2.0rem;
            font-weight: 600;
            letter-spacing: 0.3px;
            border: none;
            cursor: pointer;
        }
    }
}