.plans {
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    margin-top: 7.2rem;

    &::before {
        background-color: #FFF8F4;
        content: '';
        width: 100%;
        height: 290px;
        position: absolute;
        z-index: -1;
        bottom: 42px;
        left: 0;
    }

    &__cards {
        display: flex;
        gap: 24px;
        margin-top: 3.2rem;
        align-items: center;

        &__container {
            width: 400px;
            height: 358px;
            padding: 2.4rem;
            border-radius: 5px;
            background: $color-grey-10;
            box-shadow: 0px 1px 5px 0px rgba(18, 18, 18, 0.15);
    
            &-title {
                justify-content: space-between;
                gap: 12px;
    
                h3 {
                    color: $color-secondary-01;
                    font-size: 2.8rem;
                    font-weight: 400;
                }
    
                span {
                    color: $color-grey-02;
                    font-size: 2.4rem;
                }
    
                sup {
                    font-size: 1.2rem;
                }
    
                small {
                    color: $color-grey-02;
                    font-size: 1.8rem;
                } 
            }
    
            &-list {
                margin-top: 1.6rem;
                margin-bottom: 1.8rem;

                li {
                    list-style: none;
                    position: relative;
                    color: $color-grey-04;
                    font-size: 1.8rem;
                    margin-left: 16px;
                    line-height: 28px; /* 155.556% */
                }
    
                li::before {
                    content: '';
                    background: $color-secondary-06;
                    width: 5px;
                    height: 2px;
                    top: 14px;
                    left: -16px;
                    position: absolute;
                }
            }
    
            &-button {
                border: none;
                cursor: pointer;
                padding: .8rem 1.6rem;
                border: 1px solid $color-secondary-01;
                border-radius: 5px;
                gap: 8px;

                display: flex;
                justify-content: center;
                text-align: center;
    
                background-color: transparent;
                color: $color-secondary-01;
                font-family: $font-primary;
                font-size: 1.8rem;
                font-weight: 600;    
                letter-spacing: 0.27px;

                &:hover, &:focus {
                    color: $color-secondary-02;
                    border: 1px solid $color-secondary-02;

                    svg > path {
                        fill: $color-secondary-02;
                    }
                }
            }

            &--destach {
                height: 375px;
                width: 400px;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
                padding: 2.4rem;
                border-radius: 5px;
                position: relative;
                background: $color-grey-10;
        
                &-deco {
                    position: absolute;
                    bottom: 8px;
                    right: 12px;
                }
        
                h3 {
                    color: $color-secondary-02;
                    font-size: 3.6rem;
                }
        
                ul {
                    margin-top: 1.9rem;
                }
        
                button {
                    display: flex;
                    gap: 8px;
                    align-items: center;
        
                        img {
                            width: 20px;
                            height: 20px;
                        }
                    }        
            }
        }
    }

    &__carousel-mobile {
        display: none;
    }

    @media screen and (max-width: 1025px) {
        // padding: 0 6rem;
        width: 100%;
        &__cards__container {
            width: 300px;
            height: 100%;

            &-title {
                h3 {
                    font-size: 2rem;
                }

                span {
                    font-size: 1.8rem;
                }

                small {
                    font-size: 1.2rem;
                }
            }

            &-list {
                li {
                    font-size: 1.4rem;
                    line-height: 24px;
                }
            }

            &-button {
                padding: .8rem 1.6rem;
                font-size: 1.4rem;
            }

            &--destach {
                width: 330px;
                height: 375px;
            }
        }

    }

    @media screen and (max-width: 426px) {

        &::before {
            display: none;
        }

        &__cards {
            display: none;
            visibility: hidden;
        }
        &__cards__container, &__cards__container--destach {
            width: 280px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
        }

        &__carousel-mobile {
            display: grid;
            margin-top: 2rem;
            overflow: hidden;

            &__items {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 16px;
                justify-content: center;
                align-items: center;
                transition: .5s;
                width: 100vw;
            }

            &__controls {
                display: flex;
                justify-content: space-between;
                margin-top: 3.2rem;

                button {
                    padding: 16px;
                    background: transparent;
                    border: none;
                }
            }

        }
    }

}