// tablet
@media (max-width: 769px) {

    .vitrine {
        grid-template-columns: repeat(1, 1fr);
        gap: 4rem;

        &__item {
            flex-flow: row;
        }
    }


}


// smartphone
@media (max-width: 426px) {

    h2 {
        font-size: 1.4rem;
        line-height: 2.5rem;

    }

    article {
        h2 {
            font-size: 2.5rem;
        }

        p {
            font-size: 1.5rem;
        }
    }

    header {
        .container {
            .logo {
                display: flex;
                width: 100%;
                justify-content: center;
                padding-top: 2rem;
            }
        }
    }

    .nav {
        display: inline;
        width: 100%;
        text-align: center;
        margin: 30px 0;

        &__item {
            font-size: 1.6rem;
            padding: 0 10px;
        }
    }

    section-title {
        padding: 0 10px;
    }

    .vitrine {
        grid-template-columns: repeat(1, 1fr);
        gap: 4rem;

        &__item {
            flex-flow: column;
        }

        &__image {
            width: 100px;
        }

        &__desc {
            font-size: 1.4rem;
        }
    }

    .contato {
        display: grid;
        grid-template-columns: 1fr 1fr;

        &__img {
            width: 70px;
        }
    }

    footer {
        p {
            font-size: 1.3rem;
        }
    }


}