.reviews {
    flex-direction: column;
    margin-top: 7.2rem;
    width: 100%;

    .dividing-line {
        width: 2px;
        height: 212px;
        background-color: $color-grey-07;
        margin: 0 39px;
    }

    .custumer__reviews {
        display: flex;
        flex-wrap: wrap;
        margin-top: 3.2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        &__container {
            max-width: 100%;
            p {
                color: $color-grey-02;
                font-size: 1.8rem;
                line-height: 28px; /* 155.556% */
                width: 468px;
                margin-top: 8px;
            }
    
            &-infos {
                justify-content: flex-start;
    
                > img {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    object-fit: cover;
                }
    
                h3 {
                    color: $color-grey-01;
                    font-size: 2.4rem;
                    margin-bottom: 8px;
                }
    
                &-rating {
                    margin-left: 1.6rem;
                }
            }
        } 
    }

    .more__reviews-button {
        margin-top: 6rem;     
        font-size: 2rem;

        border: none;
                cursor: pointer;
                padding: .8rem 1.6rem;
                border: 1px solid $color-secondary-01;
                border-radius: 5px;
                gap: 8px;

                display: flex;
                justify-content: center;
                text-align: center;
    
                background-color: transparent;
                color: $color-secondary-01;
                font-family: $font-primary;
                font-size: 1.8rem;
                font-weight: 600;    
                letter-spacing: 0.27px;

                &:hover, &:focus {
                    color: $color-secondary-02;
                    border: 1px solid $color-secondary-02;

                    
                }
    }

    .more__reviews-items {
        display: none;
    }

    .more__reviews-items.active {
        display: flex;
        margin-top: 3.2rem;
    }

    @media (max-width: 1025px) {
        margin-top: 6rem;

        .custumer__reviews {
            &__container {
                p {
                    font-size: 1.6rem;
                    line-height: 24px;
                    margin-top: 1.2rem;
                    width: 40ch;
                }

                &-infos {
                    > img {
                        width: 70px;
                        height: 70px;
                    }

                    h3 {
                        font-size: 1.8rem;
                    }

                    &-rating {
                        img {
                            height: 20px;
                        }
                    } 
                }
            }
        }
    }
    
    
    @media screen and (max-width: 426px) {
        margin-top: 4.8rem;

        .custumer__reviews {
            &__container {
                max-width: 300px;
                &:nth-child(1) {
                    margin-bottom: 3.2rem;
                }

                p {
                    width: 100%;
                    line-height: 22px;
                }

                &-infos {
                    > img {
                        width: 50px;
                        height: 50px;
                    }

                    h3 {
                        font-size: 1.6rem;
                    }

                    &-rating {
                        img {
                            height: 16px;
                        }
                    } 
                }
            }

            > .flex {
                flex-direction: column;
            }
        }

        .dividing-line {
            display: none;
        }

        .more__reviews-button {
            font-size: 1.4rem;
            margin-top: 3.2rem;
        }

        .more__reviews-items.active {
            display: block;
        }
    }
}