.services {
    margin-top: 7.2rem;
    flex-direction: column;

    &__cards {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        margin-top: 3.2rem;

        &__container {
            flex-direction: column;
            width: 260px;
            height: 303px;
            border-radius: 5px;
            background: $color-grey-10;
            box-shadow: 0px 1px 5px 0px rgba(18, 18, 18, 0.15);
            padding: 2rem 1.2rem;
            text-align: center;
            position: relative;
    
            &-title {
                color: $color-secondary-01;
                font-family: $font-primary;
                font-size: 2.4rem;
                font-weight: 500;
                margin-top: 2.5rem;
                margin-bottom: .4rem;
            }
    
            &-desc {
                color: $color-grey-04;
                font-family: $font-secondary;
                font-size: 1.4rem;
                line-height: 22px; /* 157.143% */
                min-width: 200px;
            }

            &:hover {
                box-shadow: 0px 2px 4px rgba(0, 0, 0, .5);
            }
        }
    }

    .description-focused {
        display: none;
        visibility: hidden;
    }

    @media screen and (max-width: 1025px) {
        &__cards {
            justify-content: center;
            &__container {
                width: 240px;
            }
        }
    }

    @media screen and (max-width: 426px) {
        align-items: center;

        .description-focused.active {
            background-color: rgb(112, 59, 9);
            position: absolute;
            height: 100%;
            border-radius: 5px;
            color: $color-grey-08;
            font-size: 1.4rem;
            line-height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto; 
            padding: 0 1.6rem;
            visibility: visible;
        }
    

        &__cards {
            gap: 16px;

            &__container {
                width: 136px;
                height: 204px;

                img {
                    height: 105px;
                }

                &-title {
                    font-size: 1.8rem;
                }

                &-desc {
                    display: none;
                }

            }
        }
    }
}