$color-primary-01: #33004D;
$color-primary-02: #3E055A;
$color-primary-03: #511470;
$color-primary-04: #6B2A8C;
$color-primary-05: #E0AFF9;
$color-primary-06: #F6E4FF;

$color-secondary-01: #2C1000;
$color-secondary-02: #BE4400;
$color-secondary-03: #D0530D;
$color-secondary-04: #E4641D;
$color-secondary-05: #FF9B62;
$color-secondary-06: #FFC29F;

$color-grey-01: #121212;
$color-grey-02: #2E2E2E;
$color-grey-03: #404040;
$color-grey-04: #595959;
$color-grey-05: #9C9C9C;
$color-grey-06: #DEDEDE;
$color-grey-07: #EDEDED;
$color-grey-08: #F7F7F7;
$color-grey-09: #FDFDFD;
$color-grey-10: #FFFFFF;

$color-sucess: #17B931;
$color-error: #E11F1F;
$color-stars: #FFF507;

$font-primary: 'Nunito Sans', sans-serif;
$font-secondary: 'Inter', sans-serif;
