@import 'variaveis';
@import 'fonts';
@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');
@import 'nav';

@viewport {
    width: device-width;
    zoom: 1;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: $font-primary;
}

body {
    background-color: $color-primary;
    font-family: $font-default;
    margin: 0;
}

h2 {
    color: $font-color-primary;
    text-align: center;
    margin-top: 4rem;
}

article {

    h2 {
        color: $color-secondary;
        font-size: 3rem;
        text-align: left;
    }

}


#root,
header,
section,
footer {
    display: block;
    float: left;
    width: 100%;
}

section {
    padding: 4rem 0;
    margin: 0;
}

.container {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    max-width: 100%;
    padding: 0 20px;
}

@import 'animations';
@import 'header';
@import 'sobre';
@import 'vitrine';
@import 'contato';
@import 'footer';
@import 'responsivo';