@import 'variaveis';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

@viewport {
    width: device-width;
    zoom: 1;
}

html {
    font-size: 62.5%;
}

body {
    background-color: $color-grey-10;
    font-family: $font-secondary;
    min-height: 100vh;
}

nav {
    background-color: $color-primary-01;
}
 
.container { 
    margin: 0 auto;
    padding: 0 18.8rem;
    min-width: 1204px;
    display: flex;
    justify-content: space-between;
}

.section__title {
    color: $color-secondary-01;
    font-family: $font-primary;
    font-size: 4.8rem;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hire-button {
    padding: 1.2rem 2.4rem;
    border-radius: 5px;
    background: linear-gradient(180deg, #D0530D 0%, #EE702A 100%);
 
    color: $color-secondary-01;
    text-align: center;
    font-family: $font-primary;
    font-size: 2.0rem;
    font-weight: 600;
    letter-spacing: 0.3px;
    border: none;
    cursor: pointer;

    &:hover, &:focus {
        background: linear-gradient(180deg, #BE4400 0%, #FF9B62 100%);
    }
}

.active {
    display: flex;
}

@media (max-width: 1025px) {
    .container {
        padding: 0 6rem;
    }

    .section__title {
        font-size: 4rem;
    }
}

@media (max-width: 426px) {
    .container {
        padding: 0 1.6rem;
        min-width: 426px;
    }

    .section__title {
        font-size: 3.2rem;
    }

    .hire-button {
        padding: .8rem 1.6rem;
    }
}
 
@import 'header';
@import 'about';
@import 'services';
@import 'plans';
@import 'agencies';
@import 'reviews';
@import 'contact';
@import 'footer';

 
 
